# this is just a hello world test

In [5]:
import pandas as pd 
import numpy as np 

x = pd.read_csv('Test.csv')

In [6]:
print(x.describe)

<bound method NDFrame.describe of      EmpID             EmpName        EngDt TermDt  DepID  GenderID  RaceID  \
0        1    Mead, Lynnette R  01/Jan/2020    NaN      1         1       5
1        2       Brant, John O  01/Jan/2020    NaN      2         0       1
2        3     Coppin, Roger V  15/Sep/2020    NaN      1         0       3
3        4    Fleet, Kathryn U  01/Jan/2020    NaN      1         1       4
4        5      Kralj, Grace L  01/Jan/2020    NaN      3         1       1
..     ...                 ...          ...    ...    ...       ...     ...
101    102    Goddard, Frank Y  29/Aug/2020    NaN      3         0       4
102    103  Simpson, Douglas V  04/Nov/2021    NaN      1         0       2
103    104    Hyslop, Lesley U  10/Aug/2021    NaN      3         1       4
104    105     Rasul, Adrian K  09/May/2022    NaN      3         0       2
105    106     Hardy, Carmel U   08/08/2022    NaN      2         1       1

     MgrID          DOB  PayRate  Level
0        1  06/Jul/1973      NaN      1
1        2  26/Oct/1992      NaN      1
2        1  25/Aug/1992      NaN      2
3        1  11/Mar/1972      NaN      2
4        5  16/Jun/1976      NaN      1
..     ...          ...      ...    ...
101     95  27/Sep/1989      NaN      8
102     97  21/Dec/1972      NaN      8
103     95  15/Aug/2001      NaN      8
104     95  13/Jul/1998      NaN      8
105     91  13/Aug/2002      NaN      6

[106 rows x 11 columns]>